<%- include("templates/encabezado", {titulo: "Respuesta"})%>
<div class="container-sm">
    <h3>Los datos del formulario son:</h3>
    <div class="alert alert-success">
        <%= nombre%> <%= apellidos %>
    </div>
</div>
    

<%- include("templates/pie.ejs") %>
